.nav-item a{
    color:white;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.nav-item a:hover{
    color:deepskyblue;
}
.nav-item li a{
    padding-right:20px;
}
.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1;
}
.carousel.fade .item:first-child {
    top: auto;
    position: relative;
}
.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index: 2;
}
.carousel-control {
    z-index: 2;
}
.bg-blackish{

    background-color:rgba(20, 20, 20, 0.7);
    opacity: 1;
}
.headertext{
    text-align: center;
    font-size: 60px;"
   // z-index:0;
    position: absolute;
    top: 25%;
    left: 33%;
    color:white;
}
.headerwrapper {
    position: relative;
    text-align: center;
}
.headericons{
    position: absolute;
    top: 90%;
    left: 44%;
}
.iconcolor{
    margin-top: 15%;
    font-size: 30px;
    color: white;
    opacity: .9;

}
.circleborder{
    min-width: 3em;
    min-height: 3em;
    border-radius: 50%;
    border: solid white;
    opacity: .9;
}
.circleborder:hover{
    color:deepskyblue;
    border: solid deepskyblue;
}
.circleborder:hover i{
    color:deepskyblue;
}


#test {
    display: inline-flex;
}
#test:hover{

}
#box{
    position:absolute;
    z-index: 1;
    height:90px;
    width: 450px;
    border: 3px solid white;
    //background-color: rgb(106,134,79);
    opacity: .9;
    left: 38%;
    margin-top:-15%;
    border-radius: 5px;
}
#headerHours{
    color:white;
    padding-top: 20px;
}
#box:hover{
    text-decoration: none;
    border: 3px solid deepskyblue;
}
#box:hover #headerHours{
    color:deepskyblue;
}