@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

h2 {
    font-size:2.0em;
    margin-bottom:0;
    text-align: center;
    color: black;
}

.appetizers, .entrees {
    max-width: 35em;
}

.container {
    margin: 0 auto;
}

.menu-column {
    display: flex;
    flex-direction: column;
}

.menu-row {
    display: flex;
    flex-direction: row;
    color: black;
}

.menu-wrap {
    flex-wrap: wrap;
}

.menu-center {
    justify-content: center;
}

.menu {
    font-family: 'Arimo', sans-serif;
}

.menu-heading {
    font-family: 'Satisfy', cursive;
    font-size: calc(2em + 3vw);
    margin-bottom: 0;
    text-align: center;
    color: black;
}

.menu-item {
    box-shadow: 5px 5px 5px #888888;
    line-height: 1.5em;
    max-height: 15em;
    margin: 1em;
    padding: .5em;
    max-width: 30em;
    width: 30em;
    background-color: deepskyblue;
}

.menu-item2 {
    border: 2px dashed deepskyblue;
    line-height: 1.5em;
    max-height: 15em;
    margin: 1em;
    padding: .5em;
    max-width: 30em;
    width: 30em;
}

.menu-item-description {
    margin: 0;
}

.menu-item-name, .menu-item-title, .menu-item-price {
    font-weight: bold;
    color: black;
}

.menu-item-title2{
    color:black;
    font-weight: bolder;
}
.menu-item-price2{
    float:right;
    color:black;
    font-weight: bold;
}
.menu-item-description2{
    margin: 0;
    color:black;
}
#fooddrinkButton{
    transition: 0.5s;
    width:90px;
    border: 3px solid deepskyblue;
    background-color: deepskyblue;
    color:white;
    font-weight: bold;
}
#fooddrinkButton:hover{
    transition: 0.5s;
    border: 3px solid white;
    background-color: white;
    color:deepskyblue;
    font-weight: bold;
    text-decoration: none;
}
