<nav class="navbar navbar-expand-lg navbar-inverse bg-blackish" style="z-index: 2;">
    <div class="col-md-2"></div>
    <img src="img/logo.png" alt="logo" style="height: 85px;width: 180px;margin-top:-5px;">
    <!--<a class="navbar-brand" href="#" style="color:white">Mi Almas Cafe</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto ">
            <li class="nav-item active">
                <a class="nav-link" href="#" style="padding-right:20px;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="padding-right:20px;">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="padding-right:20px;">Ingredients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="padding-right:20px;">Gallery</a>
            </li>
        </ul>
        <ul class="navbar-nav md-auto ">
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2"></div>
</nav>